body {
  background: rgb(139, 61, 255);
  background: linear-gradient(
    90deg,
    rgba(139, 61, 255, 1) 0%,
    rgba(103, 227, 231, 1) 100%
  );
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 125px;
  border-bottom: 80px;

  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  height: 175px;
  margin-top: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}

.title img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.capsule-container {
  width: 100%;
}

.capsule {
  max-width: 850px;
  width: 100%;
  height: 575px;
  text-align: center;
  color: white;
  font-family: 'Days One', sans-serif;

  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 0px;
}

.list {
  font-size: 25px;
  margin-bottom: 35px;
}

.properties {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}

.images {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.centralImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigImage {
  width: fit-content;
  padding: 15px;
}

.bigImageBG {
  width: 525px;
  height: 525px;

  position: absolute;
  z-index: -1;

  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid rgb(255, 255, 255);
}

.minImageBG {
  width: 325px;
  height: 110px;

  left: -75px;
  margin-top: 35px;
  position: absolute;
  z-index: -1;

  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid rgb(255, 255, 255);
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;

  transition: 0.2s;
}

.minImage:hover .minImageBG {
  left: -50px;
  transition: 0.2s;
}

.minImage {
  width: fit-content;
  cursor: pointer;
}

.minImage:hover img {
  margin-top: -20px;
  padding-bottom: 20px;
  transition: 0.2s;
}

.minImage img {
  width: 210px;
  padding-left: 35px;
  transition: 0.2s;
}
