body {
  background: rgb(139, 61, 255);
  background: linear-gradient(
    90deg,
    rgba(139, 61, 255, 1) 0%,
    rgba(103, 227, 231, 1) 100%
  );
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 125px;
  margin-bottom: 80px;

  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  height: 175px;
  margin-top: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}

.title img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.pokeName {
  position: absolute;
  margin-top: -30px;

  text-align: center;
  width: 100%;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 13.14px;

  transition: 0.3s ease;
}

.wrapper:hover .pokeName {
  transition: 0.3s ease;
  transform: translateY(-25px);
}

.pokeImage {
  width: 100%;
  padding-bottom: 30px;
  opacity: 0;
  transition: 0.3s ease;
}

.wrapper:hover .pokeImage {
  opacity: 1;
  transition: 0.3s ease;
  transform: translateY(-20px);
}

.wrapper {
  width: 100%;
  height: fit-content;

  cursor: pointer;

  position: relative;
}

.card {
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 10px;
  box-shadow: 15px 15px 22px -15px rgba(66, 66, 66, 0.55);
  overflow: hidden;

  transition: 0.3s ease;
  position: absolute;
  z-index: -1;
}

.wrapper:hover .card {
  transition: 0.3s ease;

  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.card .circle {
  width: 63.14%;
  height: 55%;
  border-radius: 50%;
  background-color: white;

  position: absolute;
  align-items: center;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}

.card .background {
  width: 100%;
  height: 50%;

  background-color: white;
  top: 50%;
  position: absolute;
}

.card .pokeImageBG {
  width: 60%;
  height: 50%;

  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;

  transition: 0.3s ease;
}

.wrapper:hover .pokeImageBG {
  opacity: 0;
}

.content {
  z-index: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  margin: 50px;
  margin-top: 155px;
}

.searchBar {
  top: 50px;
  left: 85%;
  display: flex;
  position: absolute;
}

.searchBar img {
  width: 25px;

  position: absolute;
  top: 22%;
  left: 0;
  right: -75%;
  margin: auto;
}

.searching {
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Days One', sans-serif;

  width: 225px;
  height: 50px;
  padding-left: 25px;

  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 55px;

  /*top: 25%;
  left: 15px;
  right: 75%;*/
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }
  #search-input,
  #search-button {
    border-radius: 4px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
